@model List<WebApp_Tarde.Entidades.ProdutoEntidade>

<div class="card">
    <div class="card-header">
        <h2>Lista de Produtos</h2>
    </div>
    <div class="card-body">

        <div class="row">
            <div class="col-4">
                <a href="/produtos/cadastro" class="btn btn-success">Novo Produto</a>
            </div>
            <div class="col-3">
                <select name="filtro" class="form-control">
                    <option value="0">Todos os Campos</option>
                    <option value="1">Código</option>
                    <option value="2">Descrição</option>
                </select>
            </div>
            <div class="col-3">
                <input type="text" name="busca" class="form-control" placeholder="Pesquisar Produto"/>
            </div>
            <div class="col-2">
                <button class="btn btn-primary" type="submit">Buscar</button>
            </div>
        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Decrição</th>
                    <th>Valor</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                @foreach(var produto in Model)
                {
                    <tr>
                        <td>@produto.Id</td>
                        <td>@produto.Descricao</td>
                        <td>R$ @produto.Valor</td>
                        <td>
                            <a href="/produtos/editar/@produto.Id" class="btn btn-warning">Editar</a>
                            <a href="/produtos/excluir/@produto.Id" class="btn btn-danger">Excluir</a>
                        </td>
                    </tr>
                }
        </table>
    </div>
</div>