@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<table class="table table-striped">
    <thread>
        <tr>
            <th>Codigo</th>
            <th>Nome</th>
            <th>Telefone</th>
        </tr>
    </thread>
    <tbody>
        <tr>
            <td>1</td>
            <td>Le</td>
            <td>(16) 99999-9999</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Fulano</td>
            <td>(16) 88888-8888</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Ciclano</td>
            <td>(16) 77777-7777</td>
        </tr>
    </tbody>
</table>