@model WebApp_Tarde.Entidades.CategoriaEntidade

<div class="row">
    <div class="col-4"></div>
    <div class="card col-4">
        <div class="card-header">
            <div><h3>Editar Categoria</h3></div>
        </div>
        <div class="card-body">
            <form action="/Categoria/SalvarDados" method="post">
                    <div class="form-group">
                        <label>Nome</label>
                        <input name="Nome" type="text" class="form-control" value="@Model.Nome" />
                    </div>
                    <br />
                    <select name="Ativo" class="form-control">
                        <option value="true">Ativo</option>
                        <option value="false">Inativo</option>
                    </select>
                    <br />
                    <button class="btn btn-success" type="submit">Salvar Categoria</button>
            </form>
        </div>
    </div>
    <div class="col-4"></div>
</div>
